@media screen and (min-width: 1080px) {
    #small-logo-box {
        display: none;
    }

    #logo-box {
        display: flex;
        align-items: center;
    }

    #logo-oval {
        width: 95px;
        height: 120px;
        overflow: hidden; /* This masks content outside the container. */
        border-radius: 50%;
        margin-left: 1rem;
        margin-right: -0.5rem;
        z-index: 1;
    }

    #nav-box {
        margin-left: -3rem;
        margin-right: 8rem;
        width: 100%;
    }

    .nav-button {
        display: inline-flex;
        width: 20%;
        height: 2rem;
        margin: 1rem auto;
        justify-content: center;
        align-items: center;
    }
}