/* body, nav, h1, h2, h3, p, ul, li {
    margin: 0px;
    padding: 0px;
}*/

body {
    background-color: #c8d1c8;
    color: #160963;
    margin: 0rem;
    padding: 0rem;
    font-family: "Palatino Linotype", Arial, sans-serif;
    line-height: 1;
}

header {
    background-color: #a7b9af;
    color: #000000;
    /* margin: 0.25rem; */
    padding: 1rem; /* "root element" browser default font size (usually 16px) */
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* horizontal offset, vertical offset, blur radius, colour with opacity */
}

#profile_image {
    border-radius: 0.25rem;
}

nav,
footer {
    font-family: "Trajan Pro", Arial, sans-serif;
}

nav {
    margin: 0 auto;
    margin-left: -40px;
    line-height: .1;
}

nav p {
    background-color: #4A534E;
    margin: 0rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
}

nav p:hover {
    background-color: #2f3531;
}

nav a {
    color: #ffffff;
    margin: 0rem 1rem; /* This doesn't seem to matter. */
    text-decoration: none; /*# remove the underline*/
}

/* nav a:hover {
    text-decoration: underline;
} */

nav ul {
    list-style-type: none;
}

#popUp {
    display: none;
}

main {
    padding: 2rem;
}

main div {
    border: 1px solid black;
}

/* These lines put zeros in front of the list. */
ol {
    list-style-type: none; /* Remove default numbering */
    counter-reset: list-counter;
}

ol li::before {
content: counter(list-counter, decimal-leading-zero);
counter-increment: list-counter;
}

.card {
    border: 1px solid black;
    /* height: 100%; */
    background-color: #ffffff;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
    background-color: #c6c4d1;
    height: 2rem;
}

#bottomCard {
    width: 95%;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    line-height: 1.2;
    padding: 1rem;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

/* For smaller screens */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin: 0rem 0.5rem;
    }
}