/* body, nav, h1, h2, h3, p, ul, li {
    margin: 0px;
    padding: 0px;
}*/

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', sans-serif;
    line-height: 0.1;
    background-color: #e9e8e8;
    color: #160963;
}

header {
    background-color: #b2c5bb;
    color: #000000;
    padding: 1rem; /* "root element" browser default font size (usually 16px) */
    margin: 0.5rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* horizontal offset, vertical offset, blur radius, colour with opacity */
}

nav p {
    border-radius: 5px;
    background-color: #888d73;
    margin: 0px;
    padding: 1.5rem;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

.card {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* For smaller screens */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 0.5rem 0;
    }
}